// @use '../common.scss' as *;
@import url(../../css/reset.css);
// color
$mainColor:#E6204B;
$subColor:#4C46F6;
$darkColor:#202226;
$whiteColor:#fff;

// breakpoint - 768px, 992px, 1200px

#container{
  #stra-info{
    margin:3.5rem 0;
    .stra-wrap{
      .stra-info-tag{
        font-weight:500;
      }
      .stra-title{
        font-size:2.6rem; font-weight:600;
        margin:1.5rem 0 3rem; color:$darkColor;
      }
      .stra-text{
        font-weight:200; line-height:2rem;
      }
    }
  }
  #stra-edu{
    // background-color:var();
    .stra-edu-title{
      font-size:2.6rem; font-weight:600;
    }
    .stra-edu-list{
      margin:1.5rem 0;
      display:grid; grid-template-columns:repeat(2, 1fr); gap:0.625rem;
      ul{
        li{
          span{
            font-size:1.825rem;
          }
        }
      }
      &>span{
        margin-left:1rem; line-height:2.25rem;
      }
    }
    &>span{
      display:block; border:1px solid $darkColor;
    }
  }
  #stra-int{
    .stra-int-wrap{
      .stra-int-title{
        margin-bottom:1.25rem;
        span{
          border:1px solid $mainColor; margin-right:1rem;
        }
      }
      .stra-int.table{
        .table.line-1{
          background-color:var(--gray-bgcolor);
        }
        tr{
          th,td{
            text-align:center;
            width:25%; padding:0.625rem 0; border:1px solid var(--default-border-color);
          }
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  #container{
    #stra-wrap{
      .stra-info{
        width:60%;
        .stra-text{
          font-weight:400; line-height:2.25rem;
        }
      }
    }
  }
}

@media screen and (min-width:992px){
  
}

@media screen and (min-width:1200px){

}