@use '../common/import' as *;

// color
$mainColor:#E6204B;
$subColor:#4C46F6;
$darkColor:#202226;
$whiteColor:#fff;

// breakpoint - 768px, 992px, 1200px

#container{
  #stra-info{
    .stra-info-wrap{
      margin-bottom:6.25rem;
      .back{
        font-size:1.3rem;
      }
      .stra-title{
        font-size:2.6rem; font-weight:600;
        margin:1.25rem 0 5rem; color:$darkColor;
      }
      .stra-text{
        font-weight:300; line-height:2rem;
        p{
          margin-bottom:0.625rem;
          &::before{
            display:inline-block; content:''; width:0.625rem; height:0.625rem; border-radius:50%; margin-right:0.625rem; margin-bottom:0.25rem; background-color:$darkColor;
          }
        }
      }
    }
    .stra-info-img{
      img{
        height:100%;
      }
    }
  }
  #stra-edu{
    padding:1.875rem 0; margin:3.75rem auto;
    background-color:var(--gray-bgcolor);
    .inner{
      .stra-edu-title{
        font-size:2.6rem; font-weight:600;
        padding:1.25rem 0;
      }
      .stra-edu-list{
        display:grid; grid-template-columns:repeat(1, auto 4fr); justify-items:start; gap:5px 5px;
        ul{
          border-bottom:1px solid $darkColor;
          li{
            padding:0.625rem 1.25rem; margin:0.625rem 0;
          }
        }
        span{
          width:100%; border-bottom:1px solid $darkColor;
          p{
            padding:0.625rem 1.25rem; margin:0.625rem 0;
          }
        }
        &.list1{
          margin-bottom:0.625rem;
        }
        &.list2{
          ul{
            li{
              padding-bottom:2.5rem;
            }
          }
        }
      }
    }
  }
  #stra-int{
    margin:3.75rem auto;
    .stra-int-wrap{
      margin-bottom:3.75rem;
      .stra-int-title{
        display:flex; align-items:center; gap:5px;
        font-size:2.2rem; font-weight:500;
        margin-bottom:1.25rem;
        &::before{
          display:inline-block; content:''; width:0.25rem; height:2.2rem; background-color:$mainColor;
        }
      }
      .stra-int.table{
        display:grid; grid-template-columns:repeat(4, 1fr); gap:1px;
        text-align:center; padding:1px; background-color:var(--default-border-color);
        .th{
          font-weight:500;
          padding:1.25rem 0.625rem; background-color:var(--gray-bgcolor);
        }
        .td{
          padding:1.25rem 0.625rem; background-color:$whiteColor;
        }
      }
    }
    .stra-int-wrap2{
      margin-bottom:3.75rem;
      .stra-int-title{
        display:flex; align-items:center; gap:5px;
        font-size:2.2rem; font-weight:500;
        margin-bottom:1.25rem;
        &::before{
          display:inline-block; content:''; width:0.25rem; height:2.2rem; background-color:$mainColor;
        }
      }

      // detail2.html
      .stra-int-list1{
        display:grid; grid-template-columns:repeat(1, 1fr 2fr 3fr 1fr); gap:1px;
        padding:1px; background-color:$darkColor;
        .th{
          font-weight:500; text-align:center;
          padding:1.25rem 0.625rem; background-color:var(--gray-bgcolor);
        }
        .td{
          background-color:$whiteColor;
          div{
            border-bottom:1px solid $darkColor;
            &:last-child{
              border:none;
            }
          }
        }
      }
    }
    .stra-int-wrap3{
      margin-bottom:3.75rem;
      .stra-int-title{
        display:flex; align-items:center; gap:5px;
        font-size:2.2rem; font-weight:500;
        margin-bottom:1.25rem;
        &::before{
          display:inline-block; content:''; width:0.25rem; height:2.2rem; background-color:$mainColor;
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  #container{
    #stra-info{
      display:grid; grid-template-columns:repeat(1, 1fr 1fr); gap:2.5rem;
      .stra-info-wrap{
        margin:0;
      }
    }
    #stra-edu{
      .inner{
        .stra-edu-list{
          gap:10px;
        }
        .stra-edu-list.list1{
          grid-template-columns:repeat(2, auto 1fr);
        }
        .stra-edu-list.list2{
          grid-template-columns:repeat(1, auto 4fr);
          ul{
            li{
              padding:0.625rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:992px){
  
}

@media screen and (min-width:1200px){
  #container{
    #stra-info{
      display:grid; grid-template-columns:repeat(1, 3fr 2fr); gap:5rem;
    }
  }
}