// @use '../common.scss' as *;
@import url(../../css/reset.css);
// color
$mainColor:#E6204B;
$subColor:#4C46F6;
$darkColor:#202226;
$whiteColor:#fff;

// breakpoint - 768px, 992px, 1200px

// button reset
button{
  border:none; background-color:inherit;
}

#container{
  .edu-menu{
    display:flex; flex-direction:column; gap:4rem;
    padding:0 1rem; margin:3.5rem 0;
    .menu-title{}
    .menu-btn{
      .btn{
        cursor:pointer; font-size:1.3rem;
        display:block; transition:var(--default-transition);
        width:100%; padding:0.625rem; border-radius:3px; margin:0.5rem 0; color:$darkColor; background-color:var(--gray-bgcolor);
        &:hover{
          color:$whiteColor; background-color:$darkColor;
        }
      }
    }
  }
  .edu-contents{
    display:flex; flex-wrap:wrap;
    margin:3.5rem 0;
    .content{
      flex:0 0 50%; display:flex; flex-wrap:wrap; align-content:space-between; justify-content:center;
      padding:0 1.25rem; margin:2.5rem 0;
      a{
        display:block;
        width:100%; text-align:center;
        img{
          width:100%; border:1px solid $darkColor; border-radius:10px;
        }
        h4{
          padding:1.25rem 0 0.625rem;
        }
        span{
          font-size:1.4rem;
        }
      }
      .btn-join{
        cursor:pointer; font-size:1.3rem;
        padding:0.625rem 1.875rem; border-radius:5px; margin:0.625rem; color:$whiteColor; background-color:$mainColor;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
}


@media screen and (min-width:768px){
  #container{
    .edu-menu{
      .menu-btn{
        display:flex; gap:5px;
        .btn{
          width:auto; padding:0.625rem 1.25rem; margin:0;
        }
      }
    }
    .edu-contents{
      .content{
        flex:0 0 25%;
        padding:0 1.5rem;
        a{
          h4{
            padding:1.5rem 0 1rem;
          }
        }
      }
    }
  }
}


@media screen and (min-width:992px){
  
}


@media screen and (min-width:1200px){
  #container{
    .edu-menu{
      padding:0 2.5rem;
    }
    .edu-contents{
      .content{
        padding:0 2.5rem;
        .btn-join{
          margin:1.5rem;
        }
      }
    }
  }
}