// color
$mainColor:#E6204B;
$subColor:#4C46F6;
$darkColor:#202226;
$whiteColor:#fff;

// breakpoint - 768px, 992px, 1200px

// container
#container{
  .education-menu{
    h3{}
    .menu-btn{}
  }
  .education-contents{
    .content{
      .btn-join{}
    }
  }
}