@use '../common/variables' as *;
@use '../common/mixins' as *;


.job {
  position: relative;
  padding: 1.5rem;
  
  .job__wrap {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    
    .job__item {
      display: block;
      padding: 2rem;
      border: 1px solid $border-color;
      border-radius: 6px;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .1);
      text-align: center;
      transition: .5s;
      cursor: pointer;

      &:hover {
        border: {
          color: $main-color;
        }
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        text-decoration: none;
      }

      .item__content {
        margin-top: 1.5rem;

        p {
          font-size: 1.8rem;
          color: #555;

          + p {
            margin-top: .5rem;
          }

          &.name {
            font-size: 1.4rem;
            color: $job-name-color;

            + p {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}


// Detail
.job__detail {
  .detail__wrap {
    padding: {
      top: 5rem;
      bottom: 5rem;
    }
  }

  .detail__header {
    padding: {
      bottom: 4rem;
    }
    border: {
      bottom: 1px solid $dark-color;
    }
    text-align: center;

    > div {
      span {
        display: inline-block;
        font-size: 1.5rem;
      }

      .category {
        color: $main-color;
      }

      .date {
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 1px;
          height: 1.6rem;
          margin: 0 1.5rem 0 1rem;
          background-color: #555;
        }
      }
    }

    h3 {
      margin: {
        top: 2rem;
        bottom: 2rem;
      }

      font: {
        size: 2.8rem;
        weight: 500;
      }
    }
  }

  .content {
    padding: 2rem;
  }

  .detail__btn__container {
    @include flexCenter();
    padding: {
      top: 3rem;
    }
    border: {
      top: 1px solid $dark-color;
    }

    button {
      @include button(#ECECEC, #535353, 'lg')
    }
  }
}






// Responsive
@media all and (min-width: 768px) {
  .job {
    .job__wrap {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media all and (min-width: 992px) {
  .job {
    .job__wrap {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media all and (min-width: 1200px) {
  .job {
    .job__wrap {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}