@charset "UTF-8";

/* inner */
.inner { padding: 0 2rem; }
.text--ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media all and (min-width: 1200px) {
  .inner {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0;
  }
}
