@charset "UTF-8";

/* inner */
.inner { padding: 0 2rem; }
.text--ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@media all and (min-width: 1200px) {
  .inner {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media all and (min-width:1440px) {
  .inner {
    padding:0;
  }
}

@media all and (min-width:1921px) {
  .inner {
    max-width: 1440px;
  }
}