.top {
  margin: 5rem 0;
}
// 소개
.into {
  .left {
    display: block;
    h3 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }
  }
  .right {
    line-height: 1.5625;
    word-break: keep-all;
    p {
      padding-bottom: 1rem;
    }
  }
}

// 비전 및 이념
.vision {
  display: block;
  .left {
    h3 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }
    p {}
  }

  .right {
    dl {
      dt {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        span {
          display: inline-block;
          padding: .5rem 1.5rem;
          background: #E6204B;
          // color: var(whiteColor);
          color: #fff;
          // font-weight: 500;
          margin-right: .5rem;
        }
      }
      dd {
        p {
          line-height: 1.5625; 
          word-break: keep-all;
        }
        a {
          position: relative;
          display: inline-block; 
          overflow: hidden;
          font: {
            size: 1.4rem;
            weight: 400;
          };
          margin: 1rem 0 3rem;
          padding: 1.2rem 2rem;
          // border: 1px solid #E6204B;
          // border-radius: 6px;
          border-bottom: 1px solid #E6204B;
          color: #333;

          i { }
          &:hover {
            // background-color: #E6204B;
            // color: #fff;
            text-decoration: none;
            // border-color: transparent;
            color: #E6204B;
          }
        }
      }
    }
  }
}

// 연혁
.history {
  .left {
    h3 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }
    p {
      display: none;
    }
  }
  .right {
    dl {
      &:first-child {
        padding-top: 0rem;
      }
      display: flex;
      align-items: start;
      justify-content: left;
      border-bottom: 1px solid #ddd;
      padding: 2rem 2rem 2rem 0;
      dt {
        flex: 1;
        font-size: 2.4rem;
        word-break: keep-all;
        letter-spacing: 2px;
        // color: #4C46F6;
        // font-weight: 700;
      }
      dd {
        flex: 2;
        // margin-bottom: 2rem;
        p {
          line-height: 1.5625; 
          word-break: keep-all;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  // 연혁
  .history {
    display: flex;
    flex-direction: row-reverse;
    .left {
      text-align: right;
      p {
        display: inline-block;
        line-height: 1.5625; 
        word-break: keep-all;
        margin-bottom: 1rem;
      }
    }
  }
}

// 데스크탑
@media screen and (min-width:768px) {
  // 공통
  .top {
    margin: 10rem 0;
  }
  .left {flex: 1;}
  .right{flex: 2;}

  // 소개
  .into {
    display: flex;
  }

  // 비전 및 이념
  .vision {
    margin: 5rem 0 0;
    padding: 5rem 0;
    background-color: #f7f8f9; // 배경색

    .inner {
    }

    dl {
      display: grid;
      grid-template-columns: 320px auto 200px;
      gap: 10px;
      dt {
        margin-bottom: 1.6rem;
      }
      dd {
        a {
          margin: 1.5rem 0 3rem;
          // padding: 1.5rem 2rem;
          // border: 1px solid #ddd;
          // border-radius: 7px;
        }
      }
    }
  }
}



// .swiper {
//   margin-bottom: 10rem;
//   h3 {
//     font-size: 2.6rem;
//   }
//   ol {
//     display: flex;
//     margin-top: 5rem;
//     .left {
//       flex: 1;
//       h4 {
//         font-size: 2.4rem;
//         span {
//           padding: .5rem 1.3rem;
//           background: #E6204B;
//           color: #fff;
//           // font-weight: 300;
//           margin-right: .5rem;
//         }
//       }
//       a {
//         display: inline-block; margin-top: 1rem;
//         i { }
//       }

//     }
//     .right {
//       flex: 2;
//       display: flex;
//       p {
//         flex: 3;
//         padding-right: 5rem;
//         line-height: 1.5625;
//         word-break: keep-all;
//       }
//       span {
//         flex: 1; display: inline-block; text-align: right;
//         a {
//           font-size: 1.4rem;
//           display: inline-block;
//           padding: 0 2rem 1rem; border-bottom: 1px solid #E6204B;
//           text-decoration: none;
//           &:hover {
//             color: #E6204B;
//           }
//         }
//       }
//     }
//   }
// }